body{
    background-color:rgb(172, 182, 211);
}
img {
   width: 100%;
   border-radius: 10px;
}
.image{
    width: 30%;
}
.details{
    width: 70%;
    margin: 12px
}
.card {
    border-radius: 20px;
}

.changeCursor {
    cursor: pointer;
}