<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Список сотрудников</h1>
        <table border="1" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Адрес</th>
                <th>Дата рождения</th>
                <th colspan="2" align="center">Действия</th>
            </tr>
        {% for employee in data%}
            <tr>
                <td>{{employee.staff_id}}</td>
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.birthdate}}</td>
                <td>
                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modalWindow" onclick="editEmployee('{{employee.staff_id}}')">Редактировать</button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalWindow" onclick="deleteEmployee('{{employee.staff_id}}')">Удалить</button>
                </td>
            </tr>
        {% endfor %}
        </table>
        <p></p>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalWindow" onclick="addEmployee()">Добавить нового сотрудника</button>
        <!-- Модальное окно при добавлении -->
        <div class="modal fade" id="modalWindow" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"  id="modalTitle"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="action" action="" method="POST" enctype="application/x-www-form-urlencoded">
                            <div class="row mt-sm-3">
                                <div class="col-md-4" align="right">
                                    <label for="first_name">Имя:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="first_name" name="first_name">
                                </div>
                                <div class="col-md-4" align="right">
                                    <label for="last_name">Фамилия:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="last_name" name="last_name">
                                </div>
                                <div class="col-md-4" align="right">
                                    <label for="address">Адрес:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="address" name="address">
                                </div>
                                <div class="col-md-4" align="right">
                                    <label for="birthdate">Дата рождения:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="date" id="birthdate" name="birthdate">
                                </div>
                            </div>
                            <div class="row mt-sm-5">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <button id="buttonAccept" type="submit" class="btn btn-outline-primary" name="save_buton">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</htnl>